<h1>Converter#add_exam_info</h1>
<p>Find me in app/views/converter/add_exam_info.html.erb</p>

<%= form_with url: converter_choose_electives_path, multipart: true, local: true do |form| %>
  <% cookies[:discs].each do |disc| %>
    <%= form.label disc[:value], class:"form-label"%>
    <div class="row">
      <div class="col">
        <%= form.text_field (disc[:id]+'_teach').to_sym, placeholder: "Input teacher\'s name", class: "form-control"%>
      </div>
      <div class="col">
        <%= form.text_field (disc[:id]+'_date').to_sym, placeholder: "Input exam\'s date", class: "form-control"%>
      </div>
      <div class="col">
        <%= form.text_field (disc[:id]+'_hours').to_sym, placeholder: "Input hours", class: "form-control"%>
      </div>
    </div>
  <% end%>
  <div class="text-center"><%= form.submit "Submit", class: "btn btn-primary centered" %></div>
<% end %>

<%= @res %>

<%= cookies[:students] %>