<!DOCTYPE html>
<html>
  <head>
    <title>EuToPdf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <p class="alert alert-primary"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p> 
      <% end %>
      <div class="col-10 mx-auto">
        <%= yield %>
      </div>
    </div>
    <footer class="footer d-print-none mt-auto py-3 bg-light">
      <div class="container"> 
        <a href="https://github.com/mikeGEINE/EUToPdf" class="link-success" target="_blank">View on GitHub</a>
      </div>
    </footer>
  </body>
</html>
